
[data-theme="flow-dark"] {
    --color-primary: #430474;
    --color-secondary: #f4b6ff;
    --color-accent: #8621b7;
    --color-highlight: #7d0ab6;
    --color-primary-text: #cba3e5;
    --color-border: #570d7b;
    --color-background: #181b1d;
    --color-background-secondary: #131312;
    --color-background-pattern: #4d0f7c;
    --color-header-background: #131312;
    --color-header-logo-text: #570d7b;
    --color-header-text:#570d7b;
    --color-social-icons: #570d7b;
    --color-button-primary: #570d7b; 
    --color-button-primary-hover: #8621b7; 
    --color-button-primary-text: #f4b6ff; 
    --color-button-primary-text-hover: #131312; 
    --color-button-primary-active: #8621b7; 
    --color-button-primary-text-active: #8621b7; 
    --color-button-secondary: #131312; 
    --color-button-secondary-hover: #8621b7; 
    --color-button-secondary-text: #f4b6ff; 
    --color-button-secondary-text-hover: #131312; 
    --color-button-secondary-active: #8621b7; 
    --color-button-secondary-text-active: #f4b6ff; 
    --color-progress-background: #2c063f;
    --color-progress-value:#7d0ab6;
    --color-scrollbar-track: #1e1e1f;
    --color-scrollbar-thumb: #570d7b;
    --color-input-range-thumb: #f4b6ff;
    --color-input-range-background: #570d7b;
    --color-spinner:#570d7b;
    --color-spinner-highlight:#7d0ab6;
}
[data-theme="monochrome-noir"] {
    --color-background: #000000;
    --color-primary-text: #888888;
    --color-background-pattern: #424242;
    --color-border: #7a7a7a;
    --color-header-background: #131312;
    --color-header-text: #888888;
    --color-background-secondary: #0d0d0d;
    --color-button-primary: #000000;
    --color-button-primary-text: #888888;
    --color-button-primary-hover: #707070;
    --color-button-primary-text-hover: #000000;
    --color-button-primary-active: #d9d8d8;
    --color-button-primary-text-active: #707070;
    --color-button-secondary: #0d0d0d;
    --color-button-secondary-text: #888888;
    --color-button-secondary-hover: #707070;
    --color-button-secondary-text-hover: #000000;
    --color-button-secondary-active: #707070;
    --color-button-secondary-text-active: #000000;
    --color-progress-background: #000000;
    --color-progress-value: #908989;
    --color-scrollbar-track: #1e1e1f;
    --color-scrollbar-thumb: #7a7a7a;
    --color-input-range-thumb: #0d0d0d;
    --color-input-range-background: #707070;
    --color-spinner: #908989;
    --color-spinner-highlight: #908989;
}

[data-theme="monochrome-blanc"] {
    --color-background: #ffffff;
    --color-primary-text: #5a5a5a;
    --color-background-pattern: #e5e5e5;
    --color-border: #d0d0d0;
    --color-header-background: #f7f7f7;
    --color-header-text: #5a5a5a;
    --color-background-secondary: #f9f9f9;
    --color-button-primary: #c0c0c0;
    --color-button-primary-text: #5a5a5a;
    --color-button-primary-hover: #5a5a5a;
    --color-button-primary-text-hover: #ffffff;
    --color-button-primary-active: #f9f9f9;
    --color-button-primary-text-active: #c0c0c0;
    --color-button-secondary: #f9f9f9;
    --color-button-secondary-text: #5a5a5a;
    --color-button-secondary-hover: #c0c0c0;
    --color-button-secondary-text-hover: #ffffff;
    --color-button-secondary-active: #c0c0c0;
    --color-button-secondary-text-active: #5a5a5a;
    --color-progress-background: #f9f9f9;
    --color-progress-value: #b5b5b5;
    --color-scrollbar-track: #f2f2f2;
    --color-scrollbar-thumb: #c0c0c0;
    --color-input-range-thumb: #5a5a5a;
    --color-input-range-background: #c0c0c0;
    --color-spinner: #b5b5b5;
    --color-spinner-highlight: #ffffff;
}
[data-theme="shadow-realm"] {
    --color-header-background: #131312;
    --color-header-text: #888888;
    --color-background: #212121;
    --color-background-pattern: #424242;
    --color-primary-text: #bababa;
    --color-border: #454545;
    --color-background-secondary: #171717;
    --color-button-primary: #707070;
    --color-button-primary-hover: #1f1f1f;
    --color-button-primary-text: #171717;
    --color-button-primary-text-hover: #707070;
    --color-button-primary-active: #000000;
    --color-button-primary-text-active: #707070;
    --color-button-secondary: #171717;
    --color-button-secondary-hover: #707070;
    --color-button-secondary-text: #888888;
    --color-button-secondary-text-hover: #000000;
    --color-button-secondary-active: #707070;
    --color-button-secondary-text-active: #000000;
    --color-progress-background: #1f1f1f;
    --color-progress-value: #707070;
    --color-scrollbar-track: #1e1e1f;
    --color-scrollbar-thumb: #7a7a7a;
    --color-input-range-thumb: #000000;
    --color-input-range-background: #707070;
    --color-spinner: #908989;
    --color-spinner-highlight: #908989;
}
[data-theme="dawn-realm"] {
    --color-background: #707070;
    --color-primary-text: #131312;
    --color-background-pattern: #424242;
    --color-border: #454545;
    --color-header-background: #707070;
    --color-header-text: #131312;
    --color-background-secondary: #888888;
    --color-button-primary: #707070;
    --color-button-primary-text: #171717;
    --color-button-primary-hover: #1f1f1f;
    --color-button-primary-text-hover: #707070;
    --color-button-primary-active: #000000;
    --color-button-primary-text-active: #707070;
    --color-button-secondary: #888888;
    --color-button-secondary-text: #1f1f1f;
    --color-button-secondary-hover: #707070;
    --color-button-secondary-text-hover: #000000;
    --color-button-secondary-active: #707070;
    --color-button-secondary-text-active: #000000;
    --color-progress-background: #1f1f1f;
    --color-progress-value: #707070;
    --color-scrollbar-track: #1e1e1f;
    --color-scrollbar-thumb: #7a7a7a;
    --color-input-range-thumb: #000000;
    --color-input-range-background: #707070;
    --color-spinner: #171717;
    --color-spinner-highlight: #171717;
}
[data-theme="terminal-dark"] {
    --color-background: #000000;
    --color-primary-text: #00ff00;
    --color-background-pattern: #003300;
    --color-border: #00ff00;
    --color-header-background: #000000;
    --color-header-text: #00ff00;
    --color-background-secondary: #0a0b0a;
    --color-button-primary: #00ff00;
    --color-button-primary-text: #000000;
    --color-button-primary-hover: #003300;
    --color-button-primary-text-hover: #00ff00;
    --color-button-primary-active: #003300;
    --color-button-primary-text-active: #00ff00;
    --color-button-secondary: #000000;
    --color-button-secondary-text: #00ff00;
    --color-button-secondary-hover: #00ff00;
    --color-button-secondary-text-hover: #000000;
    --color-button-secondary-active: #00ff00;
    --color-button-secondary-text-active: #000000;
    --color-progress-background: #001a00;
    --color-progress-value: #00ff00;
    --color-scrollbar-track: #001a00;
    --color-scrollbar-thumb: #00ff00;
    --color-input-range-thumb: #00ff00;
    --color-input-range-background: #001a00;
    --color-spinner: #00ff00;
    --color-spinner-highlight: #00ff00;
}
[data-theme="terminal-soft-dark"] {
    --color-background: #0a0a0a;
    --color-primary-text: #82e082;
    --color-background-pattern: #0f1e0f;
    --color-border: #369136;
    --color-header-background: #0a0a0a;
    --color-header-text: #82e082;
    --color-background-secondary: #1a1a1a;
    --color-button-primary: #4ec94e;
    --color-button-primary-text: #0a0a0a;
    --color-button-primary-hover: #5aff5a;
    --color-button-primary-text-hover: #101010;
    --color-button-primary-active: #7aff7a;
    --color-button-primary-text-active: #0a0a0a;
    --color-button-secondary: #1a1a1a;
    --color-button-secondary-text: #82e082;
    --color-button-secondary-hover: #4ec94e;
    --color-button-secondary-text-hover: #0a0a0a;
    --color-button-secondary-active: #4ec94e;
    --color-button-secondary-text-active: #1a1a1a;
    --color-progress-background: #1a2b1a;
    --color-progress-value: #7aff7a;
    --color-scrollbar-track: #151515;
    --color-scrollbar-thumb: #4ec94e;
    --color-input-range-thumb: #1a1a1a;
    --color-input-range-background: #4ec94e;
    --color-spinner: #1a2b1a;
    --color-spinner-highlight: #7aff7a;
}
[data-theme="ink-dark"] {
    --color-background: #000000;
    --color-primary-text: #ffffff;
    --color-background-pattern: #727272;
    --color-border: #ffffff;
    --color-header-background: #000000;
    --color-header-text: #ffffff;
    --color-background-secondary: #000000;
    --color-button-primary: #ffffff;
    --color-button-primary-text: #000000;
    --color-button-primary-hover: #000000;
    --color-button-primary-text-hover: #ffffff;
    --color-button-primary-active: #ffffff;
    --color-button-primary-text-active: #000000;
    --color-button-secondary: #000000;
    --color-button-secondary-text: #ffffff;
    --color-button-secondary-hover: #ffffff;
    --color-button-secondary-text-hover: #000000;
    --color-button-secondary-active: #ffffff;
    --color-button-secondary-text-active: #000000;
    --color-progress-background: #0f0f0f;
    --color-progress-value: #ffffff;
    --color-scrollbar-track: #000000;
    --color-scrollbar-thumb: #ffffff;
    --color-input-range-thumb: #141414;
    --color-input-range-background: #ffffff;
    --color-spinner: #0f0f0f;
    --color-spinner-highlight: #0f0f0f;
}
[data-theme="paper-light"] {
    --color-background: #ffffff;
    --color-primary-text: #0d0d0d;
    --color-background-pattern: #808080;
    --color-border: #d0d0d0;
    --color-header-background: #ffffff;
    --color-header-text: #5a5a5a;
    --color-background-secondary: #ffffff;
    --color-button-primary: #171717;
    --color-button-primary-text: #f9f9f9;
    --color-button-primary-hover: #dbdbdb;
    --color-button-primary-text-hover: #5a5a5a;
    --color-button-primary-active: #fcfcfc;
    --color-button-primary-text-active: #fcfcfc;
    --color-button-secondary: #ffffff;
    --color-button-secondary-text: #5a5a5a;
    --color-button-secondary-hover: #121212;
    --color-button-secondary-text-hover: #ffffff;
    --color-button-secondary-active: #121212;
    --color-button-secondary-text-active: #ffffff;
    --color-progress-background: #f9f9f9;
    --color-progress-value: #b5b5b5;
    --color-scrollbar-track: #f2f2f2;
    --color-scrollbar-thumb: #c0c0c0;
    --color-input-range-thumb: #ffffff;
    --color-input-range-background: #121212;
    --color-spinner: #121212;
    --color-spinner-highlight: #121212;
}

[data-theme="glimpse-of-life"] {
    --color-primary-text: #bababa;
    --color-border: #454545;
    --color-background: #212121;
    --color-background-secondary: #171717;
    --color-background-pattern: #424242;
    --color-header-background: #131312;
    --color-header-logo-text: #888888;
    --color-header-text: #888888;
    --color-social-icons: #888888;
    --color-button-primary: #457434;
    --color-button-primary-hover: #1f1f1f;
    --color-button-primary-text: #171717;
    --color-button-primary-text-hover: #707070;
    --color-button-primary-active: #000000;
    --color-button-primary-text-active: #707070;
    --color-button-secondary: #171717;
    --color-button-secondary-hover: #707070;
    --color-button-secondary-text: #888888;
    --color-button-secondary-text-hover: #000000;
    --color-button-secondary-active: #707070;
    --color-button-secondary-text-active: #000000;
    --color-progress-background: #1f1f1f;
    --color-progress-value: #707070;
    --color-scrollbar-track: #1e1e1f;
    --color-scrollbar-thumb: #7a7a7a;
    --color-input-range-thumb: #000000;
    --color-input-range-background: #457434;
    --color-spinner: #908989;
    --color-spinner-highlight: #908989;
}